body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    height: 100vh;
    background: linear-gradient(to right, #ffa4a4, #8f6363);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    width: 95%;
    position: absolute;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #5CA3AC;
}

.sidebar {
    font-family: 'Poppins';
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, #ffa4a4, #573d3d);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    font-family: 'Poppins';
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidebar a:last-child {
    margin-bottom: 250px;
}

.sidebar a:hover {
    color: #5CA3AC;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 30px;
    margin-left: 10px;
}

.openbtn {
    font-family: 'Poppins';
    font-size: 20px;
    cursor: pointer;
    background-color: #3c3c3c00;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #5CA3AC;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar { padding-top: 15px; }
    .sidebar a { font-size: 18px; }
}

.logoutbtn a {
    color: #E81313;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 40px;
}

.logoutbtn a:hover {
    color: #5CA3AC;
}

.profile .profile-img-list:after,
.profile .profile-img-list:before {
    content: "";
    display: table;
    clear: both;
}

.profile .profile-img-list .profile-img-list-item {
    width: 100%;
    padding: 0.1rem;
    float: right;
}

.profile-img-list-link {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;
}

.profile-img-list-link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Membuat sudut gambar membulat */
}

.welcome {
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins';
    height: 60px;
}

.subtext {
    color: #3F5A9E;
    text-align: center;
    height: 60px;
}

.komusi {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pertama {
    height: 200px;
}

.postkontent {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.button {
    margin: 10px;
    padding: 10px;
    background-color: #cce2cd00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; /* Sesuaikan lebar button */
    height: 150px; /* Sesuaikan tinggi button */
}

.button:hover {
    background-color: #5CA3AC;
    transform: translateY(-2px);
}

.button img {
    width: 400px; /* Sesuaikan ukuran gambar */
    height: 150px;
}

.submit-komentar {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 180px;
    margin-left: 30px;

}

.komentar-list {
    max-height: 200px;
    overflow-y: auto;
}

.komentar-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.jadi-satu {
    display: flex;
    align-items: center;
    position: relative;
}

.komentar-input {
   width: 100px;
}

.submit-img {
    width: 30px;
    height: auto;
}

.panel {
    border-radius: 10px;
    background: linear-gradient(to bottom, #ffa4a4, #573d3d);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff; 
    height: auto;
}


